input {
  border: 2px solid #BDBDBD;
  border-radius: 8px;
  padding: .562rem 1rem !important;
}

select {
  border: 2px solid #BDBDBD;
  border-radius: 8px;
  padding: .562rem 1rem !important;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
}

.loadingScreen {
  align-items: center;
  background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  .spinner_ngNb {
    fill: #424242;
  }
}

.spinner_ngNb {
  animation: spinner_ZRWK 1.2s cubic-bezier(0.52, .6, .25, .99) infinite;
  fill: #BDBDBD;
}

.loaderIco {
  transform: scale(2.5);
}

.spinner_6TBP {
  animation-delay: .6s
}

@keyframes spinner_ZRWK {
  0% {
    transform: translate(12px, 12px) scale(0);
    opacity: 1
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0
  }
}

.btn {
  align-items: center;
  border-radius: 8px;
  color: white;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: .562rem 1rem;

  &.btn-primary {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }

  &.btn-secondary {
    background-color: #39465F;
    border: 2px solid #39465F;
  }

  &.btn-danger {
    background-color: #F44336;
    border: 2px solid #F44336;
  }

  &.btn-success {
    background-color: #8BC34A;
    border: 2px solid #8BC34A;
  }

  &.btn-light {
    background-color: #EEEEEE;
    border: 2px solid #E0E0E0;
    color: #757575;
  }

  &.btn-dark {
    background-color: #616161;
    border: 2px solid #424242;
  }

  &:disabled {
    background-color: transparent;
    border: 2px solid #BDBDBD;
    color: #BDBDBD;
    cursor: not-allowed;
  }
}

.task {
  .task__edit,
  .task__delete {
    border-radius: 22px;
    color: white;
    height: 65px;
    max-width: 140px;
    min-width: 65px;
    top: 0;
    svg {
      height: 21px;
      width: 21px;
    }
  }

  .task__edit {
    background: #2B71FC;
  }

  .task__delete {
    background: #FD3E3E;
  }

  .task__content {
    background-color: #F5F5F5;
    border-radius: 22px;
    color: #35383E;
    font-size: 16px;
    font-weight: 500;
    height: 65px;
    padding: .562rem 1rem;
    .task__completed {
      border-radius: 11px;
      height: 35px;
      width: 35px;
      svg {
        height: 21px;
        width: 21px;
      }
    }
  
    &.completed-false {
      background: #E8E8E8;
      .task__completed {
        background: #D5D6D6;
        svg {
          path {
            fill: #ADAFB0;
          }
        }
      }
    }
  
    &.completed-true {
      background: #D8EDDD;
      color: #176B2A;
      .task__completed {
        background: #2BD350;
        svg {
          path {
            fill: #D8EDDD;
          }
        }
      }
    }
  
    .task__priority {
      background: #FD3E3E;
      border-radius: 11px;
      color: white;
      height: 35px;
      right: 16px;
      width: 35px;
      svg {
        height: 21px;
        width: 21px;
      }
    }
  }
}
